.jc-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--jc-color-red-500, #F5424B); /* Red 500 */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Shadow 1 */
	border: 2px solid #F5424B; /* Red 500 */
	border-radius: 2px;
	color: #fff;
	min-height: 44px;
	padding: 8px 24px;
	margin: 0 4px;
	text-decoration: none;
}

.jc-btn--prime,
.jc-btn--prime:visited {
	background-color: var(--jc-color-red-500, #F5424B); /* Red 500 */
	box-shadow: var(--jc-box-shadow-1, 0 1px 3px rgba(0, 0, 0, 0.2)); /* Shadow 1 */
	border-color: var(--jc-color-red-500, #F5424B); /* Red 500 */
	color: #fff;
}

.jc-btn--prime:hover,
.jc-btn--prime:focus,
.jc-btn--prime:active {
	color: #fff;
	border-color: var(--jc-color-red-700, #C30009); /* Red 700 */
	box-shadow: var(--jc-box-shadow-3, 0px 5px 15px rgba(0, 0, 0, 0.2)); /* Shadow 3 */
 }

.jc-btn--prime:disabled {
	color: #FFF;
	background-color: var(--jc-color-gray-300, #C5C5C5); /* Grey 300 */
}

.jc-btn--second,
.jc-btn-second:visited {
	color: var(--jc-color-red-500, #F5424B); /* Red 500 */
	background-color: var(--jc-color-red-100, #FFEDEE); /* Red 100 */
	border-color: var(--jc-color-red-100, #FFEDEE); /* Red 100 */
}

.jc-btn--second:hover,
.jc-btn-second:focus,
.jc-btn-second:active {
	border-color: var(--jc-color-red-300, #FF9292); /* Red 300 */
}

.jc-btn--second:disabled {
	background-color: var(--jc-color-gray, #F1F1F1); /* Grey 100 */
	color: var(--jc-color-gray, #C5C5C5); /* Grey 300 */
}

.jc-btn-third,
.jc-btn-third:visited {
	background-color: #F5424B;
}

.jc-btn-third:hover,
.jc-btn-third:focus,
.jc-btn-third:active {
	background-color: #F5424B;
}

.jc-btn--third:disabled {
	background-color: #FFF; /* Grey 100 */
	color: var(--jc-color-gray, #C5C5C5); /* Grey 300 */
}

.jc-btn--large {
	min-height: 55px;
	padding: 12px 32px;
}
