/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.jc-footer {
	/* --  For now */
	grid-column: span 2;
	display: flex;
	position: relative;
	flex-direction: row;
	background: #F1F1F1; /* Grey 100 */
	font-size: 18px;
	line-height: 28px;
	color: #686868; /* Grey 600 */
	padding: 48px;
	width: 100%;
	max-width: 1440px;
	margin: 40px auto 0;
}

.jc-footer::before,
.jc-footer::after {
	content: "";
	height: 100%;
	background-color: #F1F1F1; /* Grey 100 */
	left: -50%;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
}

.jc-footer::after {
	left: initial;
	right: -50%;
}

.jc-footer-nav {
	display: flex;
	flex-direction: row;
	align-items: start;
}

.jc-footer-nav_ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 348px;
	margin: 0;
	padding: 0;
}

.jc-footer-nav_li {
	display: flex;
}

.jc-footer-nav_link,
.jc-footer-nav_link:visited {
	font-family: Overpass;
	font-size: 18px;
	height: 28px;
	margin: 16px;
	color: #686868; /* Grey 600 */
	text-decoration: none;
	align-items: center;
	justify-content: left;
}

.jc-footer-nav_link:hover,
.jc-footer-nav_link:focus,
.jc-footer-nav_link:active {
	color: #F5424B; /* Red 500 */
}

.jc-footer_copy-right {
	font-size: 18px;
	height: 28px;
	margin: 16px;
	color: #A5A5A5; /* Grey 400 */
}

.site-footer {
	margin: 1em 0 0;
	padding: 2em 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.site-info {
	text-align: center;
}
