/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	/* -- [ JC Fonts ] -- */
	--jc-font-family-header: "Fjalla One";
	--jc-font-family-global: "Overpass";

	/* -- [ JC Colors ] -- */
	--jc-color-gray: 	#818181;
	--jc-color-red: 	#F5424B;
	--jc-color-orange: 	#FF7A00;
	--jc-color-yellow: 	#FFCD1E;
	--jc-color-green: 	#93CC34;
	--jc-color-blues: 	#00ABDF;
	--jc-color-indigo: 	#6065C6;
	--jc-color-violet: 	#BC3CA7;
}
