/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	/* -- [ JC Fonts ] -- */
	--jc-font-family-header: "Fjalla One";
	--jc-font-family-global: "Overpass";

	/* -- [ JC Colors ] -- */
	--jc-color-white: #FFF;
	--jc-color-gray-100: #F1F1F1;
	--jc-color-gray-300: #C5C5C5;
	--jc-color-gray-500: #818181;
	--jc-color-gray-600: #686868;
	--jc-color-gray-700: #4E4E4E; /* Grey 700 */
	--jc-color-gray-900: #262626; /* Grey 900 */
	/* - Red - */
	--jc-color-red-100: #FFEDEE;
	--jc-color-red-300: #FF9292;
	--jc-color-red-500: #F5424B;
	--jc-color-red-600: #E1262F;
	--jc-color-red-700: #C30009;
	/* - Orange - */
	--jc-color-orange-100: #FFF5EC;
	--jc-color-orange-500: #FF7A00;
	--jc-color-orange-600: #E86F00;
	--jc-color-orange-700: #C45E00; /* Orange 700 */
	/* - Yellow - */
	--jc-color-yellow-100: #FFFAEA;
	--jc-color-yellow-500: #FFCD1E;
	--jc-color-yellow-600: #DFAE00;
	--jc-color-yellow-700: #A88300; /* Yellow 700 */
	/* - Green - */
	--jc-color-green-100: #F5FFE6;
	--jc-color-green-500: #93CC34;
	--jc-color-green-600: #75AA1B;
	--jc-color-green-700: #5A870F; /* Green 700 */
	/* - Blue - */
	--jc-color-blue-100: #EAFAFF;
	--jc-color-blue-500: #00ABDF;
	--jc-color-blue-600: #008CB7;
	--jc-color-blue-700: #006A8A; /* Blue 700 */
	/* - Indigo - */
	--jc-color-indigo-100: #F0F1FF;
	--jc-color-indigo-500: #6065C6;
	--jc-color-indigo-600: #4A4FAD;
	/* - violet - */
	--jc-color-violet-100: #FFECFC;
	--jc-color-violet-500: #BC3CA7;
	--jc-color-violet-600: #9E2E8B;

	/* -- Font Size -- */
	--jc-font-size-1:  12px;
	--jc-font-size-2:  14px;
	--jc-font-size-3:  16px;
	--jc-font-size-4:  18px;
	--jc-font-size-5:  20px;
	--jc-font-size-6:  24px;
	--jc-font-size-7:  30px;
	--jc-font-size-8:  36px;
	--jc-font-size-9:  48px;
	--jc-font-size-10: 64px;

	/* -- Spacing -- */
	--jc-spacing-1:    4px;
	--jc-spacing-2:    8px;
	--jc-spacing-3:   12px;
	--jc-spacing-4:   16px;
	--jc-spacing-5:   24px;
	--jc-spacing-6:   32px;
	--jc-spacing-7:   48px;
	--jc-spacing-8:   64px;
	--jc-spacing-9:   96px;
	--jc-spacing-10: 128px;
	--jc-spacing-11: 192px;
	--jc-spacing-12: 256px;
	--jc-spacing-13: 384px;
	--jc-spacing-14: 512px;
	--jc-spacing-15: 640px;
	--jc-spacing-16: 768px;

	/* -- Border Radius -- */
	--jc-border-radius-0:    0;
	--jc-border-radius-1:  2px;
	--jc-border-radius-2:  4px;
	--jc-border-radius-3:  8px;
	--jc-border-radius-4: 16px;
	--jc-border-radius-5: 32px;
	--jc-border-radius-6: 64px;

	/* -- Shadow -- */
	--jc-box-shadow-1: 0  1px  3px rgba(0, 0, 0, 0.2); /* Shadow 1 */
	--jc-box-shadow-2: 0  3px  6px rgba(0, 0, 0, 0.2); /* Shadow 2 */
	--jc-box-shadow-3: 0  5px 15px rgba(0, 0, 0, 0.2); /* Shadow 3 */
	--jc-box-shadow-4: 0 10px 24px rgba(0, 0, 0, 0.2); /* Shadow 4 */
	--jc-box-shadow-5: 0 15px 35px rgba(0, 0, 0, 0.2); /* Shadow 5 */
}
