.u-bg-white {background-color: #fff !important;}
.u-bg-gray-100 {background: var(--jc-color-gray-100,#f1f1f1);}
.u-bg-gray-200 {background: var(--jc-color-gray-200,#e4e4e4);}
.u-bg-black {background-color: #000 !important;}
.u-bg-findATutor {background-color: #297dbb !important;}
.u-bg-dynaConFooterCopy {background-color: #262626 !important;}