/* Sign Up Component */

.jc-email-sign-up {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 40px;
	margin: 16px auto 64px;
	justify-content: center;
	align-items: center;
	position: relative;
}

.jc-email-sign-up_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	/*margin: 64px auto 80px;*/
	position: relative;
	align-items: center;
}

.jc-email-sign-up_title {
	font-weight: 400;
 }

.jc-email-sign-up_form {
	position: relative;
	display: flex;
	width: auto;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;
	align-items: flex-start;
	justify-content: flex-start;
}

.jc-email-sign-up_input {
	width: 384px;
	height: 55px;
	border: 1px solid #E4E4E4;
	border: 1px solid var(--jc-color-gray-200, #E4E4E4);
	box-sizing: border-box;
	border-radius: 2px;
	margin: 16px;
	text-indent: 16px;
}

.jc-sign-up_btn {
	min-height: 55px;
	margin: 16px;
}

@media (min-width: 768px) {
	.jc-email-sign-up_form {
		flex-direction: row;
		justify-content: center;
	}
}
